{% load static %}
{% load extras %}

<!doctype html>
<html lang="es" data-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% include 'includes/og.html' %}
    <link rel="icon" type="image/png" href="{% hashed_static 'img/favicon.png' %}" />

    <link rel="stylesheet" href="{% hashed_static 'css/tailwind.css' %}" />
    <link rel="stylesheet" href="{% hashed_static '@fortawesome/fontawesome-free/css/all.min.css' %}" />
    <link rel="stylesheet" href="{% hashed_static 'css/styles.css' %}" />

    <title>
      {% if title %} {{ title }} | {% endif %}
      Pizzería La Albahaca
    </title>
  </head>
  <body>
    {% if manage %}
      {% include 'includes/header_manage.html' %}
    {% else %}
      {% include 'includes/header_public.html' %}
    {% endif %}
    <main id="content" class="layout flex-1">
      {% include 'includes/headline.html' %}
      {% block content %}{% endblock %}
    </main>
    {% include 'includes/footer.html' %}

    <button id="toTop"><i class="fa-solid fa-circle-arrow-up"></i></button>
  
    <script defer src="{% hashed_static 'alpinejs/dist/cdn.min.js' %}"></script>
    <script defer src="{% hashed_static 'htmx.org/dist/htmx.min.js' %}"></script>
    <script src="{% hashed_static 'js/main.js' %}"></script>
  </body>
</html>
