{% load static %}
{% load extras %}

<!doctype html>
<html lang="es" data-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% include 'includes/og.html' %}
    <link rel="icon" type="image/png" href="{% hashed_static 'img/favicon.png' %}" />

    <link rel="stylesheet" href="{% hashed_static 'bulma/css/bulma.min.css' %}" />
    <link rel="stylesheet" href="{% hashed_static '@fortawesome/fontawesome-free/css/all.min.css' %}" />
    <link rel="stylesheet" href="{% hashed_static '@glidejs/glide/dist/css/glide.core.min.css' %}" />
    <link rel="stylesheet" href="{% hashed_static 'css/fonts.css' %}" />
    <link rel="stylesheet" href="{% hashed_static 'css/styles.css' %}" />

    {% block extra_css %}
    {% endblock %}

    <title>
      {% if section %} {{ section }} | {% endif %}
      Pizzería La Albahaca
    </title>
  </head>
  <body>
    {% include 'includes/navbar.html' %}

    <!--<section class="section">-->
      <div class="container mt-5">
        {% block content %}
        {% endblock %}
      </div>
    <!--</section>-->

    <button id="toTop"><i class="fa-solid fa-circle-arrow-up"></i></button>
  
    <script src="{% hashed_static '@glidejs/glide/dist/glide.min.js' %}"></script>
    <script src="{% hashed_static 'js/main.js' %}"></script>

    {% block extra_js %}
    {% endblock %}
  </body>
</html>
