{% load static %}
{% load extras %}

<!doctype html>
<html lang="es" data-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% hashed_static 'bulma/css/bulma.min.css' %}" />
    <link rel="stylesheet" href="{% hashed_static '@fortawesome/fontawesome-free/css/all.min.css' %}" />
    <link rel="stylesheet" href="{% hashed_static 'css/fonts.css' %}" />
    <link rel="stylesheet" href="{% hashed_static 'css/styles.css' %}" />
    {% block extra_css %}
    {% endblock %}
    {% block title %}
      {% include 'includes/title.html' %} 
    {% endblock %}
  </head>
  <body>
    {% include 'includes/navbar.html' %}

    <!--<section class="section">-->
      <div class="container mt-5">
        {% block content %}
        {% endblock %}
      </div>
    <!--</section>-->
  
    <script src="{% hashed_static 'js/main.js' %}"></script>
    {% block extra_js %}
    {% endblock %}
  </body>
</html>
