{% load static %}
{% load extras %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% hashed_static 'css/fonts.css' %}" />
    <link rel="stylesheet" href="{% hashed_static 'css/style-homepage.css' %}" />
    <title>Pizzería La Albahaca</title>
  </head>
  <body>
    <section class="hero" style="background-image: url('{% hashed_static 'img/berenjenas-web.jpg' %}');">
      <div class="hero-overlay"></div>

      <div class="hero-content">
        <div class="hero-title">
          <h1>
            <div class="hero-title-brand">La Albahaca</div>
            <div class="hero-title-subbrand">Pizzería</div>
          </h1>
          <p>Ingredientes frescos y masa artesanal</p>
        </div>
      </div>
    </section>
  </body>
</html>
