{% extends 'base.html' %}
{% load thumbnail %}

{% block content %}
<h1 class="text-5xl">{{ section }}</h1>

<section class="mt-4">
  <p>Descubre nuestro restaurante a través de la galería de imágenes:</p>
</section>

<section class="mt-7 grid grid-cols-1 sm:grid-cols-4 gap-6">
  {% for image in images %}
    <div class="group rounded-2xl bg-zinc-800">
      <div class="overflow-hidden rounded-t-2xl">
        {% thumbnail image.image_file thumbnail_size crop="center" as im %}
          <img
            src="{{ im.url }}"
            alt="{{ im.caption }}"
            loading="lazy"
            class="transition-transform duration-600 group-hover:scale-125"
          >
        {% endthumbnail %}
      </div>
      <p class="p-5">{{ image.caption }}</p>
    </div>
  {% endfor %}
</section>

{% endblock %}
