{% extends 'gallery/base.html' %}
{% load thumbnail %}

{% block title %}
  {% include 'includes/title.html' with section='Galería' %}
{% endblock %}

{% block content %}
  <h1 class="title is-1">
    Galería
  </h1>

  <p>Descubre nuestro restaurante a través de la galería de imágenes:</p>

  <div class="columns is-multiline mt-5">
    {% for image in images %}
      <div class="column is-3-desktop is-6-tablet is-12-mobile">
        <div class="card">
          <div class="card-image gallery-card">
            <figure class="image">
              {% thumbnail image.image_file thumbnail_size crop="center" as im %}
                <img src="{{ im.url }}" alt="{{ im.caption }}" loading="lazy">
              {% endthumbnail %}
            </figure>
          </div>
          <div class="card-content">
            <div class="content card-caption">
              {{ image.caption }}
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
