{% load extras %}

<nav class="navbar is-spaced" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="{% hashed_static 'img/logo-laalbahaca.svg' %}">
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navMenu">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navMenu" class="navbar-menu">
    <div class="navbar-start">
      {% navitem 'menu:index' 'Carta' %}
      {% navitem 'gallery:index' 'Galería' %}
      {% navitem '' 'Reservas' %}
      {% navitem 'contact:index' 'Contacto' %}
      <!--{% navitem 'bookings:index' 'Reservas' %}-->
    </div>
  </div>
</nav>
