{% extends "base.html" %}

{% block content %}
<h1 class="text-5xl mb-5">Reservas</h1>

<section class="mt-3">
  <h2 class="text-4xl mb-5 bg-pink-900/50 p-2 rounded">
    {{ month.name|title }}
  </h2>
  <div x-data="{ selectedDate: null }">
    <!-- Calendario -->
    <section class="grid grid-cols-7 gap-4">
      {% for weekday in weekdays %}
        <div class="weekday">{{ weekday }}</div>
      {% endfor %}
      {% for week in month.weeks %}
        {% for date in week %}
          {% include "reservations/manage/includes/reservation_date.html" %}
        {% endfor %}
      {% endfor %}
    </section>
    <!-- Detalles -->
    <section id="day-detail" class="mt-8">
      {% for week in month.weeks %}
        {% for date in week %}
          {% include "reservations/manage/includes/reservation_detail.html" %}
        {% endfor %}
      {% endfor %}
    </section>
</section>

{% endblock %}
