<div id="service-action">
  <div class="flex flex-col gap-3 sm:w-1/2">
    <h4>
      <i class="text-emerald-500 fa-solid fa-circle-check"></i>
      Reserva actualizada
    </h4>
    {% include "reservations/manage/includes/reservation.html" with show_buttons=False %}
  </div>

  <div
    hx-get="{% url 'reservations:service' reservation.date.year reservation.date.month reservation.date.day reservation.time_slot.service.code %}"
    hx-trigger="load"
    hx-target="#services"
    hx-swap="morph"
    hx-ext="alpine-morph"
  >
  </div>
</div>
