<div class="flex flex-col h-full rounded bg-emerald-950 shadow-lg overflow-hidden">
  <!-- Header -->
  <div class="flex justify-between items-center gap-1 bg-emerald-800 px-2 py-1">
    <p>{{ reservation.name }}</p>
  </div>
  <!-- Content -->
  <div class="flex flex-col gap-3 p-2 flex-1 justify-between">
    <!-- Detalles de la reserva -->
    <div class="flex flex-col gap-1">
      <span>
        <i class="fa-solid fa-calendar"></i>
        {{ reservation.date|date:'d/m/Y' }}
      </span>
      <span>
        <i class="fa-solid fa-clock"></i>
        {{ reservation.time_slot }}
      </span>
      <span>
        <i class="fa-solid fa-user-group"></i>
        {{ reservation.party_size }} comensales
      </span>
      <span>
        <i class="fa-solid fa-phone"></i>
        {{ reservation.phone }}
      </span>
      {% if reservation.remarks %}
        <span class="text-justify text-sm text-emerald-600">
          {{ reservation.remarks }}
        </span>
      {% endif %}
      <span>
        <i class="fa-solid fa-utensils"></i>
        <span>{{ reservation.get_table_types_display }}</span>
      </span>
      <span>
        <i class="fa-regular fa-bookmark"></i>
        <span>{{ reservation.managed_by.first_name|default:'Web' }}</span>
      </span>
    </div>

    {% if show_buttons %}
      <!-- Botones con acciones -->
      <div class="flex gap-2">
        <button class="button slim bg-red-800">
          <i class="fa-regular fa-trash-can"></i>
          Borrar
        </button>
        <button class="button slim bg-yellow-700">
          <i class="fa-solid fa-pen-to-square"></i>
          Editar
        </button>
        <button class="button slim bg-indigo-800">
          <i class="fa-solid fa-door-open"></i>
          Dentro
        </button>
      </div>
    {% endif %}
  </div>
</div>
