{% load reservations_extras %}

<div
  id="{{ sid }}"
  :class="
    selectedService === '{{ service.code }}'
    ? 'ring-2 ring-primary'
    : ''
  "
  class="rounded bg-zinc-800/40 shadow-lg overflow-hidden"
>
  <!-- Header -->
  <div class="flex justify-between items-center gap-1 bg-zinc-700 px-2 py-1">
    <div class="flex items-center gap-1">
      <i class="fa-solid fa-circle {{ service|reservation_level }}"></i>
      <p class="font-bold">{{ service }}</p>
    </div>
    <div class="flex items-center gap-1">
      <i class="fa-solid fa-users-viewfinder"></i>
      <span class="font-semibold">{{ service.reserved_percentage|stringformat:".2f" }}%</span>
    </div>
  </div>
  <!-- Content -->
  <div class="flex flex-col gap-3">
    <table class="w-full text-sm border-separate border-spacing-2">
      <thead>
        <tr>
          <th></th>
          <th class="border-b">Total</th>
          <th class="border-b">Ocupadas</th>
          <th class="border-b">Libres</th>
        </tr>
      </thead>
      <tbody>
        {% for table_type in service.table_types %}
          <tr>
            <td>{{ table_type }}</td>
            <td>{{ table_type.total_tables }}</td>
            <td>{{ table_type.reserved_tables }}</td>
            <td class="{% if table_type.free_tables == 0 %} text-red-500 {% else %} text-emerald-400 {% endif %}">
              {{ table_type.free_tables }}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <div class="flex px-2 gap-3 pb-3">
      <button
        class="px-3 button slim bg-indigo-600"
        {% url 'reservations:list-service-reservations' day.date.year day.date.month day.date.day service.code as url %}
        hx-get="{{ url }}"
        hx-target="#service-action"
        hx-swap="outerHTML"
        hx-push-url="{{ url }}"
        @click = "
          selectedService = '{{ service.code }}'
          $nextTick(() => {
            const el = document.getElementById('service-action');
            if (el) {
              window.scrollTo({
                top: el.offsetTop - 10,
                behavior: 'smooth'
              });
            }
          })
        "
      >
        <i class="fa-solid fa-eye"></i>
        Ver reservas
      </button>
      <button
        class="px-3 button slim bg-amber-600" {% if not service.enabled %}disabled{% endif %}
        {% url 'reservations:create-service-reservation' day.date.year day.date.month day.date.day service.code as url %}
        hx-get="{{ url }}"
        hx-target="#service-action"
        hx-swap="outerHTML"
        hx-push-url="{{ url }}"
        @click = "
          selectedService = '{{ service.code }}'
          $nextTick(() => {
            const el = document.getElementById('service-action');
            if (el) {
              window.scrollTo({
                top: el.offsetTop - 10,
                behavior: 'smooth'
              });
            }
          })
        "
      >
        {% if not service.enabled %}
          <p class="text-xs">{{ service.details }}</p>
        {% else %}
          <i class="fa-solid fa-wand-magic-sparkles"></i>
          Crear reserva
        {% endif %}
      </button>
    </div>
  </div>
</div>
