{% extends "base.html" %}
{% load contact_extras %}

{% block content %}
<h1 class="text-5xl">{{ section }}</h1>

<section class="mt-5">
  <h2 class="text-3xl border-b border-zinc-800">Dirección</h2>
  <div class="mt-4">
    {% include "contact/includes/map.html" %}
  </div>
</section>

<section class="mt-5">
  <h2 class="text-3xl border-b border-zinc-800">Horario</h2>
  <div class="mt-4">
    {{ info.timetable|linebreaks }}
  </div>
</section>

<section class="mt-5">
  <h2 class="text-3xl border-b border-zinc-800">Comunicación</h2>
  <div class="mt-4">
    <a class="link" href="mailto:{{ info.email }}">{{ info.email }}</a>
    <br>
    <a class="link" href="tel:{{ info.phone }}">{{ info.phone }}</a>
  </div>
</section>

<section class="mt-5">
  <h2 class="text-3xl border-b border-zinc-800">Redes sociales</h2>
  <div class="mt-4">
    {% social_links %}
  </div>
</section>

{% endblock %}
