html,
body {
  margin: 0;
  padding: 0;
}

.hero {
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

/* oscurecido */
.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.6) 0%,
    rgba(0, 0, 0, 0.3) 40%,
    rgba(0, 0, 0, 0.1) 100%
  );
}

.hero-title {
  text-align: center;
  z-index: 1;
  margin-top: 3rem;
  color: white;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  font-family: Barriecito;
}

.hero-title-brand {
  white-space: nowrap;
}

.hero-title-subbrand {
  font-size: smaller;
}

.hero p {
  font-size: 1.2rem;
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.hero-links {
  z-index: 1;
  display: flex;
  gap: 1rem;
  width: 40%;
  margin-bottom: 10rem;
}

.hero-links a {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(49, 49, 49);
  background-color: rgba(255, 255, 255, 0.75);
  padding: 0.5rem;
  border-radius: 0.2rem;
  text-decoration: none;
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;

  &:visited {
    color: rgb(49, 49, 49);
  }

  &:hover {
    background-color: rgba(255, 255, 255, 1);
    color: rgb(21, 21, 21);
  }
}

@media (max-width: 768px) {
  .hero-links {
    display: grid;
    grid-template-columns: 1fr 1fr; /* 👈 2 columnas */
    gap: 1.25rem;
    margin-bottom: 5rem;
  }

  .hero-links a {
    padding: 0.75rem;
    font-size: 0.9rem;
  }
}
