@theme {
  --color-brand: var(--color-emerald-700);
  --color-accent: var(--color-pink-700);

  --font-sans: "Manrope", sans-serif;
  --font-display: "Montserrat", serif;
  --font-logo: "Barriecito", cursive;
}
